<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/g4Oduz2I5JviCcULsFAWnwOot3d-hg4yhQ5wdVSm6UaQNrHzkET18MocJNnfzeGZypGFOvkQs6Y4Ifgz9a43IG3FIAt4ax3YSO8W4s0XueXCVJ_oWzPm_opG14AsETwv-BeteelhdQ=w2400" alt="Kitty20 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #20</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219845053559603201</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/g4Oduz2I5JviCcULsFAWnwOot3d-hg4yhQ5wdVSm6UaQNrHzkET18MocJNnfzeGZypGFOvkQs6Y4Ifgz9a43IG3FIAt4ax3YSO8W4s0XueXCVJ_oWzPm_opG14AsETwv-BeteelhdQ=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219846153071230977" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
