<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/dowd0px8G3o2ltjHRzwIWXOpc9HuKjmG9ab0mTjGFWICgJ_xZEGaspWmMrm4RM6fsdvQy4Tzn0a4LHu4S0fwEEehtQtJ1urKZln-cjrfA-2bGC15RP_PN02gDf_C7kAv28y9ypVWtQ=w2400" alt="Kitty10 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #12</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219837356978208769</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/dowd0px8G3o2ltjHRzwIWXOpc9HuKjmG9ab0mTjGFWICgJ_xZEGaspWmMrm4RM6fsdvQy4Tzn0a4LHu4S0fwEEehtQtJ1urKZln-cjrfA-2bGC15RP_PN02gDf_C7kAv28y9ypVWtQ=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219837356978208769" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
