
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/g5Asx6mG1ANZfO8B6xYy1lu6EJIBthirE9uKSgvTHUgsXok1EecKPXcJSo_wBXtIQmzRck4wwerUMkr5JknO28bRzc4G56tfy7OhgciNZZ-mQwZYamVnOxjrV_DaJt6mLs7RLJW9uK14Ev1FxETH7drq1pwkAt0VhwoyzeVstDdOZ6f9YYLnPFElTB8tsCoNFxEfhhrT3KOMu-8OkIuNoMadr5J282oIvDA27xLwdGM4CIo9K-g079VRXA1bKldRFPtnhxeS55nhELJaUwQwFjTHTBTRQBj2S6NVrAtWh2neyBkulARjOG_ydWTmz6WbxWWzHd_S6ANss7hRmON5Wu1fFaCB4ztdd3PrB9OuTnCWDK5HT5GEXhmlAEdzdma5kON4RBy3fjwJh6JG5mEIL3oqsZG8JB_FeAKJgFOV7GNAuuEga8csU8-6hUTgbHxAVweDzYlu0zmjc1iouBumQSmEIBVDY-LWiu4FAXEBntJ51yPTQ2hcq8-zUIhdzAZLy6kU3ggc-O8IdRKUFSxq0XTAw7vGmHLLbpCAwlDC460Joczh56hIC2GgndwMealjS6xRUtPdS6rOOSGmhJWkWcjCVb1xy5zzswr32JFVJVvzX47PQgB0Of1v9Qs11yWeT45CnqICvXanUMzgoljteAndcVq_APmyKQyQn3uZamn8-4WUi8lJvtsesOkEL-_upR5lebXjYIdABn9a-ahnkSrd=s1744-no?authuser=0" alt="Kitty6 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #6</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219830759908442113</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/g5Asx6mG1ANZfO8B6xYy1lu6EJIBthirE9uKSgvTHUgsXok1EecKPXcJSo_wBXtIQmzRck4wwerUMkr5JknO28bRzc4G56tfy7OhgciNZZ-mQwZYamVnOxjrV_DaJt6mLs7RLJW9uK14Ev1FxETH7drq1pwkAt0VhwoyzeVstDdOZ6f9YYLnPFElTB8tsCoNFxEfhhrT3KOMu-8OkIuNoMadr5J282oIvDA27xLwdGM4CIo9K-g079VRXA1bKldRFPtnhxeS55nhELJaUwQwFjTHTBTRQBj2S6NVrAtWh2neyBkulARjOG_ydWTmz6WbxWWzHd_S6ANss7hRmON5Wu1fFaCB4ztdd3PrB9OuTnCWDK5HT5GEXhmlAEdzdma5kON4RBy3fjwJh6JG5mEIL3oqsZG8JB_FeAKJgFOV7GNAuuEga8csU8-6hUTgbHxAVweDzYlu0zmjc1iouBumQSmEIBVDY-LWiu4FAXEBntJ51yPTQ2hcq8-zUIhdzAZLy6kU3ggc-O8IdRKUFSxq0XTAw7vGmHLLbpCAwlDC460Joczh56hIC2GgndwMealjS6xRUtPdS6rOOSGmhJWkWcjCVb1xy5zzswr32JFVJVvzX47PQgB0Of1v9Qs11yWeT45CnqICvXanUMzgoljteAndcVq_APmyKQyQn3uZamn8-4WUi8lJvtsesOkEL-_upR5lebXjYIdABn9a-ahnkSrd=s1744-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219830759908442113" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
