
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/qhpwlYHpNI429j7LpBOO2NpGO-v5IpLcrhnzZ7OUyqNEStpGQVlZA5tAtHySkEoCiCCh7T3lw_czTTXmfvF1pqSnMVhhdFE_BLqM2_hjgRcqdVFamrnx54X2SMkZgYowrtDN4mGuVMbCnt-XKJjX4VeI51EnbLHXRDkiPfbgpN3dDYS8gPIiYejD3UGBE4_Mvhh0p9YmfFSy8rF4NFQp6Q3tHJG3ILEylDDALwOzW3jW8RTa_wHz2rZetxO4q4jJcpmg1tmdcoRhEe6uIMSO2juH0selwRDq2uhw8MMgk-ak9LuYKaEO5gEJxqg7ULO-wFg014r8UQDqBvm-1-3WqBqXQ6g_n4_2k04kgEURPC71NGmnsPC3K0b2MDuEX6mJLY7wE7HrwjU_cXkUCRq5F8vaBnVRirnc4KVuogM9cC8W99IM4mcWwOrezA7c3xlgNOVUX5r7k0sC4yINEJDBsH3F4r9uk-FSqQnXFrdlbSZdCehHnUSqv7MQKiwdoPQgT3GShRxr1ciDIz0ia_RlSPDKEDbVZBxLLImTBdnCfjO3zK2aniPrYTOojT3iDIFklz3J5-H3B1rurKDhWdlho1fOOOUI1LLzYDGhyU5j_ZVLSoYcTSCKFsQlwS8aKY8s6zEnuuT1RePHkjuQwI5sHQPCBPcrDxnAqKSy0RBuwMhB5Vgv6DGCrciS5ph9veohsLKjPk42pS8cRPuMCT3ht9Xv=s1768-no?authuser=0" alt="Kitty3 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #3</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219827461373558785</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/qhpwlYHpNI429j7LpBOO2NpGO-v5IpLcrhnzZ7OUyqNEStpGQVlZA5tAtHySkEoCiCCh7T3lw_czTTXmfvF1pqSnMVhhdFE_BLqM2_hjgRcqdVFamrnx54X2SMkZgYowrtDN4mGuVMbCnt-XKJjX4VeI51EnbLHXRDkiPfbgpN3dDYS8gPIiYejD3UGBE4_Mvhh0p9YmfFSy8rF4NFQp6Q3tHJG3ILEylDDALwOzW3jW8RTa_wHz2rZetxO4q4jJcpmg1tmdcoRhEe6uIMSO2juH0selwRDq2uhw8MMgk-ak9LuYKaEO5gEJxqg7ULO-wFg014r8UQDqBvm-1-3WqBqXQ6g_n4_2k04kgEURPC71NGmnsPC3K0b2MDuEX6mJLY7wE7HrwjU_cXkUCRq5F8vaBnVRirnc4KVuogM9cC8W99IM4mcWwOrezA7c3xlgNOVUX5r7k0sC4yINEJDBsH3F4r9uk-FSqQnXFrdlbSZdCehHnUSqv7MQKiwdoPQgT3GShRxr1ciDIz0ia_RlSPDKEDbVZBxLLImTBdnCfjO3zK2aniPrYTOojT3iDIFklz3J5-H3B1rurKDhWdlho1fOOOUI1LLzYDGhyU5j_ZVLSoYcTSCKFsQlwS8aKY8s6zEnuuT1RePHkjuQwI5sHQPCBPcrDxnAqKSy0RBuwMhB5Vgv6DGCrciS5ph9veohsLKjPk42pS8cRPuMCT3ht9Xv=s1768-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219827461373558785" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>