<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/oVna6Hn9WxWMBiU0oKe89W253EdgucVN_vkC997xM-Uegpc1XisMFiXV-5aIm7ZO9qNRh-RLZdaLDhrchuf6YES2ljzG9oTMs5UgLqvEY4d3Y5OV-btNQQgQWo5zaYBlQKK4BB9sYQ=w2400" alt="Kitty14 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #14</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219839556001464321</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/oVna6Hn9WxWMBiU0oKe89W253EdgucVN_vkC997xM-Uegpc1XisMFiXV-5aIm7ZO9qNRh-RLZdaLDhrchuf6YES2ljzG9oTMs5UgLqvEY4d3Y5OV-btNQQgQWo5zaYBlQKK4BB9sYQ=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219839556001464321" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
