
<div class="desktopCollection">
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/9ShmIQZHmlG3DdMNHV8OdHkVNxp9TdGWlXtVHMTyz5lon90QB3MSHhKKQA8HsOyEwSiR6vJu4qNNuYvxaK1mU2ey5gLY95qBOXMgtq08rgn9jB7CffOIpgcSCSMGx0K0lH3J6eYV1g=w2400" alt="Kitty1 NFT">
                <div class="card-body">
                    <h5 class="card-title">KittyClub #Buco</h5>
                    <a [routerLink]="['/nfts/kitty1']" class="btn btn-success">NFT Details</a>
                    <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219824162838675457" class="btn btn-primary">OpenSea</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/BKKonPpX1q0FxvaYOOBS1-e8SLmdJOMv7KnGqWvbwqNAbmRO7O8vmlZ5OiA7kfwuVAbAMDw_Z_a2EFcfdblwxDJzAZx5AeJg13ND3_BVoEOEplPyHwZJfCp20vM1tCjtLNb2-eOmSw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #1</h5>
                <a [routerLink]="['/nfts/kitty2']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219825262350303233" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/McL0a7Igd77NgRxMFtdqgzRoZH97tKrQ7_YEkwiCRqlvA5QwHhhmrd98UkNHDaPuye00AuTeO1_ovt0HXvuanXjmBXUF28IgfR9aDkCId17O94eQLUfYGdAR1be7wEwnIkEu9Bbt3A=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #2</h5>
                <a [routerLink]="['/nfts/kitty3']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219826361861931009" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/j0AkEQNwhN9iMiLpKZCPhyD3_jRDkswhRLYBDm1fiBKI9_3xYpNdQJxpQEEtjDsbwNDkY0wxj0BnYF_lMKOx5AjhmrwndaKbz_09x91W9UWXl6L2_zzklEBXVo-PVonFUFnpVoGqTg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #3</h5>
                <a [routerLink]="['/nfts/kitty4']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219827461373558785" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/6xe_zomcrT5NtaaMcNp_km4_5hdB99r1ORRwfzOrnsvmaSEt1YZguwNqTw8A7L2kcd9kRywulcw36FmwKhXpEeRE1vh5-pUZYYYsnbMmzPBWr20-s44u_oKO-YjExXcRHRmHeSXmzg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #4</h5>
                <a [routerLink]="['/nfts/kitty5']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219828560885186561" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/3-4cZWRMw8e4auSVqM1G-d5ohBws7RKsHYFJNY8kS0FmLDXIXjTpfSP41Qd9S7JPoJKFYz2lmHz5HIZ_1ItDdilaQF0VY6iop1zQcVpZ6RQQB5fNuKECmMCI5yUvln5-IhHs8Ak1kw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #5</h5>
                <a [routerLink]="['/nfts/kitty6']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219829660396814337" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        </div>
    
        <!-- new row -->
    
        <div class="row">
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/DOz6Vnw03B0HXsgQ2iMK_SoQDf8I52DVeBR6Phqypu-K4nr73ybnaY1KGpnVtk-Sd35y_MJkNvIr-TCOIo9a7mpp75kLjX4yKP2YOX9OJUUVFWf_tlZIga1SQsu63UmdcydVaq3LZQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #6</h5>
                <a [routerLink]="['/nfts/kitty7']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219830759908442113" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/Y2iNs7Z2z7HRSBzqW_aC14jM6usK5pr-ku95FtsRkO9CVtz23lpvL0U_kgWdiz6kxpcSH6DgAFVpfOXVLmKhy4PqLgVTRDAIzP3sA5sDrc-0uGn2H6Z5rfMq0khsc-Rl7gLlxun5iQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #7</h5>
                <a [routerLink]="['/nfts/kitty8']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219831859420069889" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/fBHB27P993aCO0Ou-AHZuY9QKyJ0G0w6HILdjvKwD-RDBdIIaZCLm0FvfioQ5mo9WrDF-0D_jPAZNQ56I0ZSEXIMSY1CyPv7EOhajahZ91X-DcsuhExeocsaYfwp2SfXe2agbUDHww=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #8</h5>
                <a [routerLink]="['/nfts/kitty9']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219832958931697665" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/VzzwueCkjCwxdSMG5eaR579MzT40nWZ_yAIpsrlo58HaV23-C9bJh-NV5_esngtai3uUB9DGKPLi0t-LIJA4QZJzrr-2y0iYKB1c1NRcA3QTNZ7ENEYIbahOLUyYcffZjpMvPQ80nA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #9</h5>
                <a [routerLink]="['/nfts/kitty10']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219834058443325441" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/TsT7IWS255CeXV0-JLVpyRN4f6O1GtuBxxgZ_rArkdZ6tIMJMK4lX0JwCZZrfJ16IgvBQlixE_DFtlNQeA9RDMjqma5qCzyF8ezuo7utk96amqdm0X9S7j7YcbjXpgAAtkaQdJ7LcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #10</h5>
                <a [routerLink]="['/nfts/kitty11']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219835157954953217" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/N1HvyMZLbrFPC3MLLzLD5Xwaw9ozuZrhb6XyAuCK6UiolKyBltjGMjdOLzYtPKZDShKVEzZpIIhWdhVhXZMedEvV3-z5YtMsgQtRT9sVCG_EbEbtB-FFRLp-m1u4GJW92joBoIfUcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #11</h5>
                <a [routerLink]="['/nfts/kitty12']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219836257466580993" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <!-- new row -->
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/dowd0px8G3o2ltjHRzwIWXOpc9HuKjmG9ab0mTjGFWICgJ_xZEGaspWmMrm4RM6fsdvQy4Tzn0a4LHu4S0fwEEehtQtJ1urKZln-cjrfA-2bGC15RP_PN02gDf_C7kAv28y9ypVWtQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #12</h5>
                <a [routerLink]="['/nfts/kitty13']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219837356978208769" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/9y7D3rfXgMNkld6fjN4e3OQwRXy7zQ5wuP94LEGNkoLeTEf-G6lDWihVNJ7M3wExx3rCSZ1X1tkMOdGMfATW-ZYEMK4o9H9ncbJf44TDcInmlmUf3yVBKmgOCbCVwCvLm8XF-85oXA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #13</h5>
                <a [routerLink]="['/nfts/kitty14']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219838456489836545" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/oVna6Hn9WxWMBiU0oKe89W253EdgucVN_vkC997xM-Uegpc1XisMFiXV-5aIm7ZO9qNRh-RLZdaLDhrchuf6YES2ljzG9oTMs5UgLqvEY4d3Y5OV-btNQQgQWo5zaYBlQKK4BB9sYQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #14</h5>
                <a [routerLink]="['/nfts/kitty15']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219839556001464321" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/2pVz6xkRODdOx08Tc0vyw3OQE14Td5GRjzzpTuB81XudUIWG1UXwtvHhDfWVMQX3pUm6A_4JgFOumM5uHGf7hbxYo9tfigArpuZXroYSwavB4XYKJv5S_yx2EQb0Q0sTZ19BTDGvvg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #15</h5>
                <a [routerLink]="['/nfts/kitty16']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219840655513092097" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/vJrw3-sXuALWqjCFG9WRKhp7DbQhidRFxbSpZXdIBpTgOwkn9NorCyLKA8hWgEpSbWozhuZIuOxbjvlWaKDVWfgVhOo1-8_6Zvl2H35vjMDJbE3zgIYMTeG9ffAHdECcNOslouuRhQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #16</h5>
                <a [routerLink]="['/nfts/kitty17']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219841755024719873" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/zI9tCVyqZ3K9ht8wDqISF23fLqGADmG_vabEhlLPAB92vuH3OlA1zKwO87VOAkL3dW4OBeMRSkKSnjn_-kX5-Vl1kqlaCNoZIRkShFVzpAH5cXvk4gXYys7Y6sxOBABpbJIpuw_ktA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #17</h5>
                <a [routerLink]="['/nfts/kitty18']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219842854536347649" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <!-- new row -->
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/WGT8e7MdChlTmute99dLfhhtfSc5almDce0CM8KaeSde07qD8W-h5wJOtl3nnI2O8J7uKOUZXjSnO9reLgND5zFzhNRMpTcQbMrPCFwxr937-1vxx7Aqyrr2y2A_j_sdp9BMkI5MeQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #18</h5>
                <a [routerLink]="['/nfts/kitty19']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219843954047975425" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/iqws-tVQmKPT4-tnnK9jCSUOYrP4rRCBG7H-zJbvgUI9tAIajgW1KvjaBsXDe4N-X8ozgHpYSwYUL53Zk-fwnCsn2JSM5016nut0faCPUswIdAZuc9LhTd_tjOiQOg7hcaaa0MBm7Q=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #19</h5>
                <a [routerLink]="['/nfts/kitty20']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219845053559603201" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/g4Oduz2I5JviCcULsFAWnwOot3d-hg4yhQ5wdVSm6UaQNrHzkET18MocJNnfzeGZypGFOvkQs6Y4Ifgz9a43IG3FIAt4ax3YSO8W4s0XueXCVJ_oWzPm_opG14AsETwv-BeteelhdQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #20</h5>
                <a [routerLink]="['/nfts/kitty21']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219846153071230977" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/t_a1uV-FcwIyqYVJka7RdCENkpHXvV0N888hON8TzE7HHIuqbpU2kiJEadEtGsj3p3wkc6oYvW3rZnzcxblChrNXO8Mc_hO9Uc5jlLtfj6h14mAGVvuW5UkeBNOPGRvvFZkJMI5YAw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #21</h5>
                <a [routerLink]="['/nfts/kitty22']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219847252582858753" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/yPRRPUtWqJactOE1pavNtfDsh0Q-aeVfi1723Pv17XqvEWVY-TUk3FmUJKrHWwWHjEHYSZi-PkeVdJkKekVVPj_OKgPmYF_fFSI8UmxaUapMd1P7cdchuJv67ZQUFjlbYxjCR-gapQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #22</h5>
                <a [routerLink]="['/nfts/kitty23']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219848352094486529" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/CloSNnjLPs2j3aEgk9IZUcGbxnLb33Bm0LCnXjirIe4GBtp_lTMzwArMQWYlPJ1rkTztpUbWJs7jRqdL-QUbHVxIJNPLh3WdphwybnVmm117VjiMBU-dTfmPRoDZoEeTVTYYsmbzkg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #23</h5>
                <a [routerLink]="['/nfts/kitty24']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219849451606114305" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <!-- New row -->
    <div class="col-sm-2">
        <div class="card">
        <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/J3XAHK-SfZ-vfLHEb3jhY4tjBEaPttbT39mixSIt2OWKXo09c8o5zn3GGXbYOJx0F8ojMp_wVwav4DvGAOI5UNLqhqVsXFx6u2d_2LQaP5G8lAX5SZBUKYgwXSS7jMvFJR_OjDO6iA=w2400" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kitty #24</h5>
            <a [routerLink]="['/nfts/kitty25']" class="btn btn-success">NFT Details</a>
            <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219850551117742081" class="btn btn-primary">OpenSea</a>
        </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card">
        <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/gRWasApciLN_b5rzGuoG4cEGBRCWTPM0zlJ3PjA-c9fdGNTmV2hPzYiQEv1QTJxx5ZjmOhJPXczLxyklu2LOJTOAsn7rEnW_M0pTOpC7sMI8jCtEE7xX1tqVbYL1oBU2dTyAMimqeA=w2400" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kitty #25</h5>
            <a [routerLink]="['/nfts/kitty26']" class="btn btn-success">NFT Details</a>
            <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219851650629369857" class="btn btn-primary">OpenSea</a>
        </div>
        </div>
    </div>
</div>




<!-- ======================================================= -->

<div class="mobileCollection">
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
                <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/9ShmIQZHmlG3DdMNHV8OdHkVNxp9TdGWlXtVHMTyz5lon90QB3MSHhKKQA8HsOyEwSiR6vJu4qNNuYvxaK1mU2ey5gLY95qBOXMgtq08rgn9jB7CffOIpgcSCSMGx0K0lH3J6eYV1g=w2400" alt="Kitty1 NFT">
                <div class="card-body">
                    <h5 class="card-title">KittyClub #Buco</h5>
                    <a [routerLink]="['/nfts/kitty1']" class="btn btn-success">NFT Details</a>
                    <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219824162838675457" class="btn btn-primary">OpenSea</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/BKKonPpX1q0FxvaYOOBS1-e8SLmdJOMv7KnGqWvbwqNAbmRO7O8vmlZ5OiA7kfwuVAbAMDw_Z_a2EFcfdblwxDJzAZx5AeJg13ND3_BVoEOEplPyHwZJfCp20vM1tCjtLNb2-eOmSw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #1</h5>
                <a [routerLink]="['/nfts/kitty2']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219825262350303233" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/McL0a7Igd77NgRxMFtdqgzRoZH97tKrQ7_YEkwiCRqlvA5QwHhhmrd98UkNHDaPuye00AuTeO1_ovt0HXvuanXjmBXUF28IgfR9aDkCId17O94eQLUfYGdAR1be7wEwnIkEu9Bbt3A=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #2</h5>
                <a [routerLink]="['/nfts/kitty3']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219826361861931009" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/j0AkEQNwhN9iMiLpKZCPhyD3_jRDkswhRLYBDm1fiBKI9_3xYpNdQJxpQEEtjDsbwNDkY0wxj0BnYF_lMKOx5AjhmrwndaKbz_09x91W9UWXl6L2_zzklEBXVo-PVonFUFnpVoGqTg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #3</h5>
                <a [routerLink]="['/nfts/kitty4']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219827461373558785" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/6xe_zomcrT5NtaaMcNp_km4_5hdB99r1ORRwfzOrnsvmaSEt1YZguwNqTw8A7L2kcd9kRywulcw36FmwKhXpEeRE1vh5-pUZYYYsnbMmzPBWr20-s44u_oKO-YjExXcRHRmHeSXmzg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #4</h5>
                <a [routerLink]="['/nfts/kitty5']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219828560885186561" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/3-4cZWRMw8e4auSVqM1G-d5ohBws7RKsHYFJNY8kS0FmLDXIXjTpfSP41Qd9S7JPoJKFYz2lmHz5HIZ_1ItDdilaQF0VY6iop1zQcVpZ6RQQB5fNuKECmMCI5yUvln5-IhHs8Ak1kw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #5</h5>
                <a [routerLink]="['/nfts/kitty6']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219829660396814337" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/DOz6Vnw03B0HXsgQ2iMK_SoQDf8I52DVeBR6Phqypu-K4nr73ybnaY1KGpnVtk-Sd35y_MJkNvIr-TCOIo9a7mpp75kLjX4yKP2YOX9OJUUVFWf_tlZIga1SQsu63UmdcydVaq3LZQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #6</h5>
                <a [routerLink]="['/nfts/kitty7']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219830759908442113" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/Y2iNs7Z2z7HRSBzqW_aC14jM6usK5pr-ku95FtsRkO9CVtz23lpvL0U_kgWdiz6kxpcSH6DgAFVpfOXVLmKhy4PqLgVTRDAIzP3sA5sDrc-0uGn2H6Z5rfMq0khsc-Rl7gLlxun5iQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #7</h5>
                <a [routerLink]="['/nfts/kitty8']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219831859420069889" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/fBHB27P993aCO0Ou-AHZuY9QKyJ0G0w6HILdjvKwD-RDBdIIaZCLm0FvfioQ5mo9WrDF-0D_jPAZNQ56I0ZSEXIMSY1CyPv7EOhajahZ91X-DcsuhExeocsaYfwp2SfXe2agbUDHww=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #8</h5>
                <a [routerLink]="['/nfts/kitty9']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219832958931697665" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/VzzwueCkjCwxdSMG5eaR579MzT40nWZ_yAIpsrlo58HaV23-C9bJh-NV5_esngtai3uUB9DGKPLi0t-LIJA4QZJzrr-2y0iYKB1c1NRcA3QTNZ7ENEYIbahOLUyYcffZjpMvPQ80nA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #9</h5>
                <a [routerLink]="['/nfts/kitty10']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219834058443325441" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/TsT7IWS255CeXV0-JLVpyRN4f6O1GtuBxxgZ_rArkdZ6tIMJMK4lX0JwCZZrfJ16IgvBQlixE_DFtlNQeA9RDMjqma5qCzyF8ezuo7utk96amqdm0X9S7j7YcbjXpgAAtkaQdJ7LcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #10</h5>
                <a [routerLink]="['/nfts/kitty11']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219835157954953217" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/N1HvyMZLbrFPC3MLLzLD5Xwaw9ozuZrhb6XyAuCK6UiolKyBltjGMjdOLzYtPKZDShKVEzZpIIhWdhVhXZMedEvV3-z5YtMsgQtRT9sVCG_EbEbtB-FFRLp-m1u4GJW92joBoIfUcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #11</h5>
                <a [routerLink]="['/nfts/kitty12']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219836257466580993" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/dowd0px8G3o2ltjHRzwIWXOpc9HuKjmG9ab0mTjGFWICgJ_xZEGaspWmMrm4RM6fsdvQy4Tzn0a4LHu4S0fwEEehtQtJ1urKZln-cjrfA-2bGC15RP_PN02gDf_C7kAv28y9ypVWtQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #12</h5>
                <a [routerLink]="['/nfts/kitty13']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219837356978208769" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/9y7D3rfXgMNkld6fjN4e3OQwRXy7zQ5wuP94LEGNkoLeTEf-G6lDWihVNJ7M3wExx3rCSZ1X1tkMOdGMfATW-ZYEMK4o9H9ncbJf44TDcInmlmUf3yVBKmgOCbCVwCvLm8XF-85oXA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #13</h5>
                <a [routerLink]="['/nfts/kitty14']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219838456489836545" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/oVna6Hn9WxWMBiU0oKe89W253EdgucVN_vkC997xM-Uegpc1XisMFiXV-5aIm7ZO9qNRh-RLZdaLDhrchuf6YES2ljzG9oTMs5UgLqvEY4d3Y5OV-btNQQgQWo5zaYBlQKK4BB9sYQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #14</h5>
                <a [routerLink]="['/nfts/kitty15']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219839556001464321" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/2pVz6xkRODdOx08Tc0vyw3OQE14Td5GRjzzpTuB81XudUIWG1UXwtvHhDfWVMQX3pUm6A_4JgFOumM5uHGf7hbxYo9tfigArpuZXroYSwavB4XYKJv5S_yx2EQb0Q0sTZ19BTDGvvg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #15</h5>
                <a [routerLink]="['/nfts/kitty16']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219840655513092097" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/vJrw3-sXuALWqjCFG9WRKhp7DbQhidRFxbSpZXdIBpTgOwkn9NorCyLKA8hWgEpSbWozhuZIuOxbjvlWaKDVWfgVhOo1-8_6Zvl2H35vjMDJbE3zgIYMTeG9ffAHdECcNOslouuRhQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #16</h5>
                <a [routerLink]="['/nfts/kitty17']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219841755024719873" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/zI9tCVyqZ3K9ht8wDqISF23fLqGADmG_vabEhlLPAB92vuH3OlA1zKwO87VOAkL3dW4OBeMRSkKSnjn_-kX5-Vl1kqlaCNoZIRkShFVzpAH5cXvk4gXYys7Y6sxOBABpbJIpuw_ktA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #17</h5>
                <a [routerLink]="['/nfts/kitty18']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219842854536347649" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/WGT8e7MdChlTmute99dLfhhtfSc5almDce0CM8KaeSde07qD8W-h5wJOtl3nnI2O8J7uKOUZXjSnO9reLgND5zFzhNRMpTcQbMrPCFwxr937-1vxx7Aqyrr2y2A_j_sdp9BMkI5MeQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #18</h5>
                <a [routerLink]="['/nfts/kitty19']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219843954047975425" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/iqws-tVQmKPT4-tnnK9jCSUOYrP4rRCBG7H-zJbvgUI9tAIajgW1KvjaBsXDe4N-X8ozgHpYSwYUL53Zk-fwnCsn2JSM5016nut0faCPUswIdAZuc9LhTd_tjOiQOg7hcaaa0MBm7Q=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #19</h5>
                <a [routerLink]="['/nfts/kitty20']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219845053559603201" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/g4Oduz2I5JviCcULsFAWnwOot3d-hg4yhQ5wdVSm6UaQNrHzkET18MocJNnfzeGZypGFOvkQs6Y4Ifgz9a43IG3FIAt4ax3YSO8W4s0XueXCVJ_oWzPm_opG14AsETwv-BeteelhdQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #20</h5>
                <a [routerLink]="['/nfts/kitty21']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219846153071230977" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/t_a1uV-FcwIyqYVJka7RdCENkpHXvV0N888hON8TzE7HHIuqbpU2kiJEadEtGsj3p3wkc6oYvW3rZnzcxblChrNXO8Mc_hO9Uc5jlLtfj6h14mAGVvuW5UkeBNOPGRvvFZkJMI5YAw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #21</h5>
                <a [routerLink]="['/nfts/kitty22']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219847252582858753" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/yPRRPUtWqJactOE1pavNtfDsh0Q-aeVfi1723Pv17XqvEWVY-TUk3FmUJKrHWwWHjEHYSZi-PkeVdJkKekVVPj_OKgPmYF_fFSI8UmxaUapMd1P7cdchuJv67ZQUFjlbYxjCR-gapQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #22</h5>
                <a [routerLink]="['/nfts/kitty23']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219848352094486529" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/CloSNnjLPs2j3aEgk9IZUcGbxnLb33Bm0LCnXjirIe4GBtp_lTMzwArMQWYlPJ1rkTztpUbWJs7jRqdL-QUbHVxIJNPLh3WdphwybnVmm117VjiMBU-dTfmPRoDZoEeTVTYYsmbzkg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #23</h5>
                <a [routerLink]="['/nfts/kitty24']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219849451606114305" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/J3XAHK-SfZ-vfLHEb3jhY4tjBEaPttbT39mixSIt2OWKXo09c8o5zn3GGXbYOJx0F8ojMp_wVwav4DvGAOI5UNLqhqVsXFx6u2d_2LQaP5G8lAX5SZBUKYgwXSS7jMvFJR_OjDO6iA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #24</h5>
                <a [routerLink]="['/nfts/kitty25']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219850551117742081" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/gRWasApciLN_b5rzGuoG4cEGBRCWTPM0zlJ3PjA-c9fdGNTmV2hPzYiQEv1QTJxx5ZjmOhJPXczLxyklu2LOJTOAsn7rEnW_M0pTOpC7sMI8jCtEE7xX1tqVbYL1oBU2dTyAMimqeA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #25</h5>
                <a [routerLink]="['/nfts/kitty26']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219851650629369857" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
</div>
