

<div class="desktopCollection">
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/2Henk2N4t-6VI3so2I7AfiEnW_YmeJ0O4vIG6joHIaqY6CECPLUKyNheXgSzt2aYlTAbKPhfotninyg_FAbmSGXsblBiKFdzG3f15470vbvLqYZPXvzdEX2mOuSINA0_wvDr_l1EJQ=w2400" alt="Kitty1 NFT">
                <div class="card-body">
                    <h5 class="card-title">KittyClub #Buco</h5>
                    <a [routerLink]="['/nfts/kitty1']" class="btn btn-success">NFT Details</a>
                    <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219824162838675457" class="btn btn-primary">OpenSea</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/pw/AM-JKLUqsVsNcBtzOzrOrS9sG6u4uEJGeSR3OXkjIHCQFDFPQeGUFQNtlHhkeGnbRxRhk4f-cJc4LxKVKG6unDs7o531wrRColEJTt_n8_qP4sBW6pNQQaTTGCLA3QNZKQTt8x80R1xrYTylxK_3HKJpHCAO=w1770-h1772-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #1</h5>
                <a [routerLink]="['/nfts/kitty2']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219825262350303233" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/BoqY6jHlMdEG0RnWzMWKHIwe0hXJdJhDBj2gNYK5NPUSrZHjuvbVgoEahYEIo8w3Z63K0Gn5plGJpNYfYMNf7wKrc4lWxUvfDcEaqvPPQ8IPvhjEUpqMiAkf8EHgv7jdejmp--tuQOPo-8aDiyOJDQMQ8x6hg7V2kt-dJvy0eHgpt1yIq6RdyMp5pkCayJaF-UTpFu6IwkEoIj_CB3GH_gPDIW0L_tM3bQOAceH7wfeCOXFn6OsjhwbBYgXsTBMmeQRKzez-XRbrNMT0YwR0pjDiR9fmKvNhb_4iAPeBCUp17cP64NmWNScdTJwJ1lhzzf5jpFmH97n-Wn5xXUFGb3XydYwYlPL-NqGrO1jbFo3cFGzcDl5wo1wWk6SNBXooTmOZiMz3jCZM3bltfMathzYM6tHENXIGCDChW3oeZpvATymbnCzgGrpB5DrJ4ag-bW6-DQE3168MFZMj-9J0E_0qMxOVNMH-LmpRTWD688TAP3Lq6k3k_AOzZPHb8ZuOgXcZI1Ipk9mdKs-7bobPxiFfzPQhMaIY8foXr0o5uiPqKfGr1v9qLgQ6-Z2keBGZKplCHSvW-VpfzbafufWrFWrm4VTuweFfdG64aWfyjXHfmPgxF0BovHBNBLT2rDAdlGTIKWEBIuumNXoiEtdBbHT-BP4RNWSjnRYPlJkbCfgrgXmSHCbEjqIxTCypY16tmVyeyMysGlCFyUFPu-r4s0eC=w1744-h1748-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #2</h5>
                <a [routerLink]="['/nfts/kitty3']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219826361861931009" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/qhpwlYHpNI429j7LpBOO2NpGO-v5IpLcrhnzZ7OUyqNEStpGQVlZA5tAtHySkEoCiCCh7T3lw_czTTXmfvF1pqSnMVhhdFE_BLqM2_hjgRcqdVFamrnx54X2SMkZgYowrtDN4mGuVMbCnt-XKJjX4VeI51EnbLHXRDkiPfbgpN3dDYS8gPIiYejD3UGBE4_Mvhh0p9YmfFSy8rF4NFQp6Q3tHJG3ILEylDDALwOzW3jW8RTa_wHz2rZetxO4q4jJcpmg1tmdcoRhEe6uIMSO2juH0selwRDq2uhw8MMgk-ak9LuYKaEO5gEJxqg7ULO-wFg014r8UQDqBvm-1-3WqBqXQ6g_n4_2k04kgEURPC71NGmnsPC3K0b2MDuEX6mJLY7wE7HrwjU_cXkUCRq5F8vaBnVRirnc4KVuogM9cC8W99IM4mcWwOrezA7c3xlgNOVUX5r7k0sC4yINEJDBsH3F4r9uk-FSqQnXFrdlbSZdCehHnUSqv7MQKiwdoPQgT3GShRxr1ciDIz0ia_RlSPDKEDbVZBxLLImTBdnCfjO3zK2aniPrYTOojT3iDIFklz3J5-H3B1rurKDhWdlho1fOOOUI1LLzYDGhyU5j_ZVLSoYcTSCKFsQlwS8aKY8s6zEnuuT1RePHkjuQwI5sHQPCBPcrDxnAqKSy0RBuwMhB5Vgv6DGCrciS5ph9veohsLKjPk42pS8cRPuMCT3ht9Xv=s1768-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #3</h5>
                <a [routerLink]="['/nfts/kitty4']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219827461373558785" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/NJF7k40y0JWjywrbM3grVBsggX77I5gsAUE_V24jCWxY8x-fTLPNbNEkWV8_vydlVmqHbAbz54ELiI7OOFZ0EWoq7z5pUYRUUda6LagFXFXwErxZbX_Nm2RkYnEAuHyovIWdDU7WkNSceBfuCTOjAnUjs0IPPC26G8mgBSGOA93EF81DPlgWjqFC8zcaTBsyRY8Eq6NBfKojXhbA4vNN9Z8yJ97LNGGPOtIcE9N9hJksFcllImmBB1d80rdot9dGYhzr-e296AP11F9AtwLA61Rej2yxGrAbTjeuJN8Ip79XVmzOKkup7GeVlHZVcu3rOblWTb5PqgTdtTCfBGgWM3T7rKr_pJiGBW0Aj_v1U4zo11q5k_xrwxfxZ6GSqs9zve_4LChkbx7EUGj17addXjRyA5rl7QkjB4UPXwiPX1A6-ex7LWpjjQuticWgaZlJQtvVddlkcx-4_c99gIBtPNDh8_xOK4eLQ2zkwUprqhLFEclejPU7KX-S0fxV8MRIjwWe2MdJBO_oLNwHRGLsFM6RWDTYXZTwoV9Lf4KwZpsVu2tfTPrYxVumkwqg9zeq9pHrf8KcLWyyS_VQQSM8Q5cR79PVB_rMdVnL8rFSghWwvNtsG2dQ67yUAEE_xCI2Dc37uj3ETUH7gapAGIsJiRBe_lwF1N5LiSLAD3_TP9w3wX-z0cfIpgeJ5zPzG518IHP-rmX_EexKx5kizSNSBLYW=s1756-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #4</h5>
                <a [routerLink]="['/nfts/kitty5']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219828560885186561" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/WoHUmXoz6NlJAT7sCUGuC0Q7TXqZmX6-iXtVXkoR3Sf0rioYKUS33F0TPOr2My5n3qt-3RCHnVWex-DsmYGqB3bDFa8HyV9JJfgokEzvo1pKrmrdoylZASebsZeelf5FOTigTJcRF_ZDWE_pPVjSE-GsoQx66ujSdnAVTtIt0PBMksxmjKZjif0q0cMvelirUTTL8L-hLJ3RQCupLGwbIHxrvnVOVotNKOybtsAao7KDkDVc_S56i107j1Atnse4QmHCF6z5BesSWYXwoIZfE2xPv4rZpVxMPNxiGPGJUb14vb9VuOrKZwzcEgPXLgyDWjnwUipJ4L36tpTHdnu3j0g3u8Ke4fDXLyJMrrL0MgcN2s350ND92sfmlcYYInEBb-GlwV2G0u40DI7YGl9-I4s1nYCxGaHPSk0KRnpUD_M0E6mm9a0D0t2DydDIJvpTua4enxS_x0woHwYQVWmDT4Wlo9x8OLifr1L60YuA40ONYSHXaNx3iZCuYAFX2YjZVY4cNGVbCPX-fy92FUrlUN4h89OD57_0GxycLv6B-47IBSrnnEeKj-snJ1MgqJcvVySXhiEj1CiA3G6gyTyGfdEK000ma7rTBf1tRu2MWcXF3o3AcscxF_NDNskRm80GBfF9_ZTz_A7BzUaADs4MPBFep18o7Vg2xa3r6DbcAhhayiWaOTrgMfukjUfT7gXmd6YJsAkVGIYBy8Igrt50vVmr=w1742-h1744-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #5</h5>
                <a [routerLink]="['/nfts/kitty6']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219829660396814337" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        </div>
    
        <!-- new row -->
    
        <div class="row">
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/g5Asx6mG1ANZfO8B6xYy1lu6EJIBthirE9uKSgvTHUgsXok1EecKPXcJSo_wBXtIQmzRck4wwerUMkr5JknO28bRzc4G56tfy7OhgciNZZ-mQwZYamVnOxjrV_DaJt6mLs7RLJW9uK14Ev1FxETH7drq1pwkAt0VhwoyzeVstDdOZ6f9YYLnPFElTB8tsCoNFxEfhhrT3KOMu-8OkIuNoMadr5J282oIvDA27xLwdGM4CIo9K-g079VRXA1bKldRFPtnhxeS55nhELJaUwQwFjTHTBTRQBj2S6NVrAtWh2neyBkulARjOG_ydWTmz6WbxWWzHd_S6ANss7hRmON5Wu1fFaCB4ztdd3PrB9OuTnCWDK5HT5GEXhmlAEdzdma5kON4RBy3fjwJh6JG5mEIL3oqsZG8JB_FeAKJgFOV7GNAuuEga8csU8-6hUTgbHxAVweDzYlu0zmjc1iouBumQSmEIBVDY-LWiu4FAXEBntJ51yPTQ2hcq8-zUIhdzAZLy6kU3ggc-O8IdRKUFSxq0XTAw7vGmHLLbpCAwlDC460Joczh56hIC2GgndwMealjS6xRUtPdS6rOOSGmhJWkWcjCVb1xy5zzswr32JFVJVvzX47PQgB0Of1v9Qs11yWeT45CnqICvXanUMzgoljteAndcVq_APmyKQyQn3uZamn8-4WUi8lJvtsesOkEL-_upR5lebXjYIdABn9a-ahnkSrd=s1744-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #6</h5>
                <a [routerLink]="['/nfts/kitty7']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219830759908442113" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/T0n3qh7uPB-2P3D39hs3euD7OnoJIsklp8LYAb3FdrZQ7GDbmrP3yyr_Jk35VXLhYZn5ZK4Q2hyGz1B9sAdWRyfbEOKoRdF3vvIPM1EiltJQq7Ntp9IOYeJalxsJ3bitrzplJ-yZTu-RCMDAfTQRMU5pjoh0msquOxv6lPnWboX39evWZ-_An1uYYvuz-O6Cwp3-H2toFkAl41OCUk3CBvrTmVjXG2Uk1Q97s7DSVI1428RJ9leVYXP7Ux4jFE2IeXteP1QOkuJcZfv1SHRsNuP0DseHvvJIanK11CFHLSrNyz_s6u5UQwNUMVFeRyqLn1sCEpdCVMgOvH-36wFUsUgIdRGa5NLY3EaoLpqfarIW3jn-aIF1CWVoSZj5FtLC99YUlTqQifLcPaFSYsDcbhLHJYLbNnVGQ4kL7-V1UGiY5IWVogFzvzAhHkOKNtfn7GGOrlLJDMpLwyIjY5TShOKsnDfTjQZ7MwoJXGdqzxdlemI0nx_LM4By_-Wb7si_zLJnKIsCBEDwo9GoOptHWnU8ZXH6Qu-523P84ycfCH-6UgAguiu-4Q0xfmiPX-Fxzt4oijW1_DdWMzwFOgjSR0gUfV0RfqgXFYXBvokdGPT0BQh5kb1UMJ-rSC4juay9bRvJeLZ512ZIIanrs5LFHdkpCEmY1z2O2KijXuzzD-dycTQTtC7vXf9kUteZn1RJ7G3SjU-g_YBY17zQSmuZRXIY=s1742-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #7</h5>
                <a [routerLink]="['/nfts/kitty8']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219831859420069889" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/xKaUl2eXG8PYzAYNkY9jt8vOYDb1sOxi_0nD05IHmCpsl_BqPQBB_etNMRt4Uyk7W2f2s_3qBOF0_5TNRdL1CKh0RRcJKnvb7aR7GyB82oVDB_y1aHZRFgoJ6nRr2LLzpIUYrlvvAWyYOZWboWQF0hth8LA89eCcVkA7VRiH2NuVQfL87A_3GTcWYCyL5OnrquXIdvCu_aN2iYgROnNwNFzvm5gPvOTHOX-fFU3b9vtONbqaWVvQ_XfHVokYLEEbtHOjdlwJ3TmdT2uG0ToYN2FNksgPitFdKNq-IqG64tIrz7_JDh94GMm1WeeAb80AajGJwIuWZ_Gz-JVnNmdsi3DM89Z587ERQBALXXLW524RnXAa1v0K9tcz6AChdxgCS8yNcyChvnjB2qKq96e01xDY1i3Y3vRLSmr9TpnsGvMXlq7nsjIdeC7i0BPPsdH3p15XH5AB3S6VYmgns3T4Par45hefodeNkGX1WGeOtV5Il0QNNoDt-8WfOWJ2vobafXOFD7TMwSt6PugAAVnKxs7RTNaZLODl6PhGMXfSj1XNVAc2YdWlwft9ziKzvLnxMT0cpFvBhtNKqxKeS1eD93R7bTB-97r50eBx3WoKwTsUFY-hC4pnejIIDgcV66h0HZtYaofPZB8ZJ6bw8-ao2X4My7kQQpD3lcXRXcf-6sWPKZaflEyctClGfGq6VooeIp-d3ygaBxXPl2P0SQsh8YoZ=w1764-h1766-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #8</h5>
                <a [routerLink]="['/nfts/kitty9']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219832958931697665" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/tZygqqii44noUx8G6TZT1GDXjvZNodnFG0ypuaZoyL7Js7bFR5sAhdwOv5Jyn0w8JIRsWZkgxaSPx9ClnI9Q6_wqn0SvAw0N8xRE2V7PeIYkUfd7grvjCGSJ_Wlkt0wBJ2KdPC2EedY13PBxBDVeTa5VCl7081QROfpHd_ptnK_UoLs1lfjKlYr4aa6Z4TJMz7KVv7Jw7KmgZoDc1CwU-z0xxdf37ctC7WuZXNzXjhX2RsbslJOrlASmCEfgQDNR7kYN16E_UnAqWTmGXCCejJr6x7SMWw_8CO9EHyZCpTgbuIqooiNRTk-4TqZZgsPNUzhylL97I-RKybiZr4PNcLRvICkzMxdfBDE_mjSbLtwSaR--u4ywEh9RlRAJnjbaMmOUYqVZZ2nAxxeGrtErOvgFCRKmSMWBNs-6vr16vihza_ACf325ufkrU9yF4Ms2cKvZaFEdfANlvWHdU5OfzPdgOa1bG6XdoyVCJRGQZwnq3cLVE7gIq3qgAikJfTD220I64hcsEA5lkL-jao26kPBG5fCwkAvzzuydu-Guv95SE_aS08DshiO8sWQqL2_dYVHRyrwyNWbhsSJ-cWkx71OVd7nz1aGxX17XwSfQYskh2d27AFkE8noPTbvyIZrv93nsw7nCcNkySYZU-YDUPgve7SsxleQ2Kqm6gJrNz6qI4fSnkcmWWC6PSZPLhy8yM91OBJM4ADF2JMaRZDGOg5mO=w1754-h1756-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #9</h5>
                <a [routerLink]="['/nfts/kitty10']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219834058443325441" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/MQZSoQs8m1WMX4gQ4Rab3pUnokm_4yPP9K4yEtxn9dUJrMQSF3aoXst4A9MBvAP0JJ_KlQfWFSuthjji_ZVEGiaCnqeR6_enMWAU1mMlKUMhccLF5qk0WU2Zk8Hx_728KCfWkmSJqeQI_sM0Ysdzg4N7rP1aep9Qx4CN4yg5lDJnhUpwLzYJ8YGGfGEprpCZJoOUNGVoJtOT0VgbJiaeJIV1M2iozZDdYaUJTaNifVmUgJZD2f6FaSu_jAT9y5UgZo36NpDiebXVzW6I1L5Ms36JhYYNjz5dEA2aakQsY_ycEUKoTfFH7P0pi83J0Zcf2M4JFo8dm93IoZr7ChigMozKXFKBskcN3czxqOGIg2C0kXZSGTXIGchPoArR5Jc-_yr-ShNUa9qauiz2RGubckizjLsBE4lA19_aPurLKj0PJlOn0Qr23mDZtftZphMT12-7-ef0LRRijqCbMnTZMntJLMIaf5je-W9qAw_1Cb-MsJBEABZuPUHswQsML7XYvheg5zG0LY2PTUSdVrMQYoQmRBlV8kl5US5g1_MUJ8YOBgLSweSJkGc83sRh9MZuoSc7EC6-mx-qDCt3MVkbEsMaaEjPdvbDVvjBBZNaEkm4mG4WV-w7VPDbwD6PVC7T61QdScHZZf4JV8CLSAXBjowqK7Z_V42tExhNb2pN6LSyUnwNYusJhgIrTlfbtUEy2DALqek7_QvKY7ia_tFTxwql=s1742-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #10</h5>
                <a [routerLink]="['/nfts/kitty11']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219835157954953217" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/57f7eU4HGLme11MxQUh_3ScpRmqtkwlAxJIyk04RVY_QfewXxQymeFRu_DzJ2jucyBpnRqVGEcUr5ZQIaP3QDkrcLiAmTuZk00IYSmh0k_btFZawkMrfO-PuKQ7xehsc5Ee7h-PI30jTpAsJj8Z1fFCxlbPCZiVyl_HMwEofkX8SCKsiC3rXDXlrx909xX48fn8lKiPFklZRynYyFgt5hnkfcHba8laautwG0B8HeqDiSsjnKCReOtUeMVCpfji2RtbR0f0krLlY0KFKxriyDvxC2sPh8QMfB7Jg_D71ooYwxfjCI2ejcAeQu5shYO-72s3YYj6K2wqfNRMyCUoeasanSjxWZBu-IxZBBi3smuf-TdMrTWDZKQ6GBlxf8TiRfmo0MqmzEbb3CEtvRfzecY_wOqAvHjOk8EWE7jdZKOXqUKm8Nd8olQ60gZ0ikrZePUK4s4ArR_T369ebRRwUroIcLl8OI14_zJ9Fjcax9xc1uzYeAX0ZNkRmhRskvK1n-XEmf1dwqMynDTwCf6xsvKTEWLc4ZPF51ocePHHm4eJq9wO702xTf-syosaioWr_M149y1GEj2KEJkLZviyGi2if8QpBo2UbzR40D38DFH_TE3824eUOXHk2d3J9p2bA3o7m5K5TjtIeovEksDf7mGcc69SytwBfAsStgJsEU4dfvp9ukTfx4m_Yj1wef4RaDFo2HnuwXQvyjtlRuGwxwu-L=w1740-h1742-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #11</h5>
                <a [routerLink]="['/nfts/kitty12']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219836257466580993" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="mobileCollection">
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
                <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/2Henk2N4t-6VI3so2I7AfiEnW_YmeJ0O4vIG6joHIaqY6CECPLUKyNheXgSzt2aYlTAbKPhfotninyg_FAbmSGXsblBiKFdzG3f15470vbvLqYZPXvzdEX2mOuSINA0_wvDr_l1EJQ=w2400" alt="Kitty1 NFT">
                <div class="card-body">
                    <h5 class="card-title">KittyClub #Buco</h5>
                    <a [routerLink]="['/nfts/kitty1']" class="btn btn-success">NFT Details</a>
                    <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219824162838675457" class="btn btn-primary">OpenSea</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/pw/AM-JKLUqsVsNcBtzOzrOrS9sG6u4uEJGeSR3OXkjIHCQFDFPQeGUFQNtlHhkeGnbRxRhk4f-cJc4LxKVKG6unDs7o531wrRColEJTt_n8_qP4sBW6pNQQaTTGCLA3QNZKQTt8x80R1xrYTylxK_3HKJpHCAO=w1770-h1772-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #1</h5>
                <a [routerLink]="['/nfts/kitty2']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219825262350303233" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
</div>