
<div class="desktopCollection">
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/6Euu4tcBCXwkm6qlvtMrGkL3Cfu4rR-3VnljMC4qD79DCnQlLfH1pjUCZ_7Z_YI-tCqol05g22zWn-PCIfdkmYkHvFOxfIpIMesie1wVdyd-n5ykq9n3LlD3FUI50Afn9Q7oFjWCqOJJT2hCdWHBItS2eNRCsWpMJQ0-iQef9w_PMJ1mA9hAdlZNigEOHoYSA7PW6MP-z9rbKrX6tXQXRlp1fwVBcEbd9KuGIBYIXy2d-UHIkofW1_yJdO0XCtBDVeHjg-l4tGOGe7Mxr_kYBhPvncgiXis-bZJSHFTYSiH5UwwkglZ19awpv7xBA2lYOY_Yg2OL3zyUfVNpmJwFII6vFzbkJxuA5xHuN-Q9fVPZ_0em4AX36XREKWMdh0ec3BNrL37uCz7K6leWuqpzDtCun4VzwCbuwmyIWtxs65fmvEhZMO2pFLCnlaqtR5BpE5O4PtLzjmAZbnSTTDGxJ4-xFXCb_fn1p7u9ZzW7HV3y7G97YXpeCqr2wKEVH82LPfKeJtMoxIGn7YCPW5NmqLgEWOISguXa8cZeDErDDirz_lj33Yw9D5bOw3UPLxfXAUpHCiCSNswCKtFulCHUb07--bxceOnWweWRH9skiZrS5KouBg6-YYauI5cJXJz1sZsX1E3-jbAO8IkKfVmdzOrbn62PYgK6mkSN3kM4x3voKvBBFIy3Yq5Y7loPOe-5WE44vtuacQlN05K7S4T4Y8K1=w1592-h1594-no?authuser=0" alt="Kitty1 NFT">
                <div class="card-body">
                    <h5 class="card-title">KittyClub #Buco</h5>
                    <a [routerLink]="['/nfts/kitty1']" class="btn btn-success">NFT Details</a>
                    <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219824162838675457" class="btn btn-primary">OpenSea</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/pw/AM-JKLUqsVsNcBtzOzrOrS9sG6u4uEJGeSR3OXkjIHCQFDFPQeGUFQNtlHhkeGnbRxRhk4f-cJc4LxKVKG6unDs7o531wrRColEJTt_n8_qP4sBW6pNQQaTTGCLA3QNZKQTt8x80R1xrYTylxK_3HKJpHCAO=w1770-h1772-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #1</h5>
                <a [routerLink]="['/nfts/kitty2']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219825262350303233" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/McL0a7Igd77NgRxMFtdqgzRoZH97tKrQ7_YEkwiCRqlvA5QwHhhmrd98UkNHDaPuye00AuTeO1_ovt0HXvuanXjmBXUF28IgfR9aDkCId17O94eQLUfYGdAR1be7wEwnIkEu9Bbt3A=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #2</h5>
                <a [routerLink]="['/nfts/kitty3']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219826361861931009" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/j0AkEQNwhN9iMiLpKZCPhyD3_jRDkswhRLYBDm1fiBKI9_3xYpNdQJxpQEEtjDsbwNDkY0wxj0BnYF_lMKOx5AjhmrwndaKbz_09x91W9UWXl6L2_zzklEBXVo-PVonFUFnpVoGqTg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #3</h5>
                <a [routerLink]="['/nfts/kitty4']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219827461373558785" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/6xe_zomcrT5NtaaMcNp_km4_5hdB99r1ORRwfzOrnsvmaSEt1YZguwNqTw8A7L2kcd9kRywulcw36FmwKhXpEeRE1vh5-pUZYYYsnbMmzPBWr20-s44u_oKO-YjExXcRHRmHeSXmzg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #4</h5>
                <a [routerLink]="['/nfts/kitty5']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219828560885186561" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/3-4cZWRMw8e4auSVqM1G-d5ohBws7RKsHYFJNY8kS0FmLDXIXjTpfSP41Qd9S7JPoJKFYz2lmHz5HIZ_1ItDdilaQF0VY6iop1zQcVpZ6RQQB5fNuKECmMCI5yUvln5-IhHs8Ak1kw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #5</h5>
                <a [routerLink]="['/nfts/kitty6']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219829660396814337" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        </div>
    
        <!-- new row -->
    
        <div class="row">
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/DOz6Vnw03B0HXsgQ2iMK_SoQDf8I52DVeBR6Phqypu-K4nr73ybnaY1KGpnVtk-Sd35y_MJkNvIr-TCOIo9a7mpp75kLjX4yKP2YOX9OJUUVFWf_tlZIga1SQsu63UmdcydVaq3LZQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #6</h5>
                <a [routerLink]="['/nfts/kitty7']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219830759908442113" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/Y2iNs7Z2z7HRSBzqW_aC14jM6usK5pr-ku95FtsRkO9CVtz23lpvL0U_kgWdiz6kxpcSH6DgAFVpfOXVLmKhy4PqLgVTRDAIzP3sA5sDrc-0uGn2H6Z5rfMq0khsc-Rl7gLlxun5iQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #7</h5>
                <a [routerLink]="['/nfts/kitty8']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219831859420069889" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/fBHB27P993aCO0Ou-AHZuY9QKyJ0G0w6HILdjvKwD-RDBdIIaZCLm0FvfioQ5mo9WrDF-0D_jPAZNQ56I0ZSEXIMSY1CyPv7EOhajahZ91X-DcsuhExeocsaYfwp2SfXe2agbUDHww=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #8</h5>
                <a [routerLink]="['/nfts/kitty9']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219832958931697665" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/VzzwueCkjCwxdSMG5eaR579MzT40nWZ_yAIpsrlo58HaV23-C9bJh-NV5_esngtai3uUB9DGKPLi0t-LIJA4QZJzrr-2y0iYKB1c1NRcA3QTNZ7ENEYIbahOLUyYcffZjpMvPQ80nA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #9</h5>
                <a [routerLink]="['/nfts/kitty10']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219834058443325441" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/TsT7IWS255CeXV0-JLVpyRN4f6O1GtuBxxgZ_rArkdZ6tIMJMK4lX0JwCZZrfJ16IgvBQlixE_DFtlNQeA9RDMjqma5qCzyF8ezuo7utk96amqdm0X9S7j7YcbjXpgAAtkaQdJ7LcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #10</h5>
                <a [routerLink]="['/nfts/kitty11']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219835157954953217" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/N1HvyMZLbrFPC3MLLzLD5Xwaw9ozuZrhb6XyAuCK6UiolKyBltjGMjdOLzYtPKZDShKVEzZpIIhWdhVhXZMedEvV3-z5YtMsgQtRT9sVCG_EbEbtB-FFRLp-m1u4GJW92joBoIfUcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #11</h5>
                <a [routerLink]="['/nfts/kitty12']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219836257466580993" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="mobileCollection">
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
                <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/2Henk2N4t-6VI3so2I7AfiEnW_YmeJ0O4vIG6joHIaqY6CECPLUKyNheXgSzt2aYlTAbKPhfotninyg_FAbmSGXsblBiKFdzG3f15470vbvLqYZPXvzdEX2mOuSINA0_wvDr_l1EJQ=w2400" alt="Kitty1 NFT">
                <div class="card-body">
                    <h5 class="card-title">KittyClub #Buco</h5>
                    <a [routerLink]="['/nfts/kitty1']" class="btn btn-success">NFT Details</a>
                    <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219824162838675457" class="btn btn-primary">OpenSea</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/pw/AM-JKLUqsVsNcBtzOzrOrS9sG6u4uEJGeSR3OXkjIHCQFDFPQeGUFQNtlHhkeGnbRxRhk4f-cJc4LxKVKG6unDs7o531wrRColEJTt_n8_qP4sBW6pNQQaTTGCLA3QNZKQTt8x80R1xrYTylxK_3HKJpHCAO=w1770-h1772-no?authuser=0" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #1</h5>
                <a [routerLink]="['/nfts/kitty2']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219825262350303233" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/McL0a7Igd77NgRxMFtdqgzRoZH97tKrQ7_YEkwiCRqlvA5QwHhhmrd98UkNHDaPuye00AuTeO1_ovt0HXvuanXjmBXUF28IgfR9aDkCId17O94eQLUfYGdAR1be7wEwnIkEu9Bbt3A=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #2</h5>
                <a [routerLink]="['/nfts/kitty3']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219826361861931009" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/j0AkEQNwhN9iMiLpKZCPhyD3_jRDkswhRLYBDm1fiBKI9_3xYpNdQJxpQEEtjDsbwNDkY0wxj0BnYF_lMKOx5AjhmrwndaKbz_09x91W9UWXl6L2_zzklEBXVo-PVonFUFnpVoGqTg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #3</h5>
                <a [routerLink]="['/nfts/kitty4']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219827461373558785" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/6xe_zomcrT5NtaaMcNp_km4_5hdB99r1ORRwfzOrnsvmaSEt1YZguwNqTw8A7L2kcd9kRywulcw36FmwKhXpEeRE1vh5-pUZYYYsnbMmzPBWr20-s44u_oKO-YjExXcRHRmHeSXmzg=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #4</h5>
                <a [routerLink]="['/nfts/kitty5']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219828560885186561" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/3-4cZWRMw8e4auSVqM1G-d5ohBws7RKsHYFJNY8kS0FmLDXIXjTpfSP41Qd9S7JPoJKFYz2lmHz5HIZ_1ItDdilaQF0VY6iop1zQcVpZ6RQQB5fNuKECmMCI5yUvln5-IhHs8Ak1kw=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #5</h5>
                <a [routerLink]="['/nfts/kitty6']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219829660396814337" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/DOz6Vnw03B0HXsgQ2iMK_SoQDf8I52DVeBR6Phqypu-K4nr73ybnaY1KGpnVtk-Sd35y_MJkNvIr-TCOIo9a7mpp75kLjX4yKP2YOX9OJUUVFWf_tlZIga1SQsu63UmdcydVaq3LZQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #6</h5>
                <a [routerLink]="['/nfts/kitty7']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219830759908442113" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/Y2iNs7Z2z7HRSBzqW_aC14jM6usK5pr-ku95FtsRkO9CVtz23lpvL0U_kgWdiz6kxpcSH6DgAFVpfOXVLmKhy4PqLgVTRDAIzP3sA5sDrc-0uGn2H6Z5rfMq0khsc-Rl7gLlxun5iQ=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #7</h5>
                <a [routerLink]="['/nfts/kitty8']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219831859420069889" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/fBHB27P993aCO0Ou-AHZuY9QKyJ0G0w6HILdjvKwD-RDBdIIaZCLm0FvfioQ5mo9WrDF-0D_jPAZNQ56I0ZSEXIMSY1CyPv7EOhajahZ91X-DcsuhExeocsaYfwp2SfXe2agbUDHww=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #8</h5>
                <a [routerLink]="['/nfts/kitty9']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219832958931697665" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/VzzwueCkjCwxdSMG5eaR579MzT40nWZ_yAIpsrlo58HaV23-C9bJh-NV5_esngtai3uUB9DGKPLi0t-LIJA4QZJzrr-2y0iYKB1c1NRcA3QTNZ7ENEYIbahOLUyYcffZjpMvPQ80nA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #9</h5>
                <a [routerLink]="['/nfts/kitty10']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219834058443325441" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/TsT7IWS255CeXV0-JLVpyRN4f6O1GtuBxxgZ_rArkdZ6tIMJMK4lX0JwCZZrfJ16IgvBQlixE_DFtlNQeA9RDMjqma5qCzyF8ezuo7utk96amqdm0X9S7j7YcbjXpgAAtkaQdJ7LcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #10</h5>
                <a [routerLink]="['/nfts/kitty11']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219835157954953217" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card">
            <img style="width:100%" class="card-img-top" src="https://lh3.googleusercontent.com/N1HvyMZLbrFPC3MLLzLD5Xwaw9ozuZrhb6XyAuCK6UiolKyBltjGMjdOLzYtPKZDShKVEzZpIIhWdhVhXZMedEvV3-z5YtMsgQtRT9sVCG_EbEbtB-FFRLp-m1u4GJW92joBoIfUcA=w2400" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitty #11</h5>
                <a [routerLink]="['/nfts/kitty12']" class="btn btn-success">NFT Details</a>
                <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219836257466580993" class="btn btn-primary">OpenSea</a>
            </div>
            </div>
        </div>
    </div>
</div>

