
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/NJF7k40y0JWjywrbM3grVBsggX77I5gsAUE_V24jCWxY8x-fTLPNbNEkWV8_vydlVmqHbAbz54ELiI7OOFZ0EWoq7z5pUYRUUda6LagFXFXwErxZbX_Nm2RkYnEAuHyovIWdDU7WkNSceBfuCTOjAnUjs0IPPC26G8mgBSGOA93EF81DPlgWjqFC8zcaTBsyRY8Eq6NBfKojXhbA4vNN9Z8yJ97LNGGPOtIcE9N9hJksFcllImmBB1d80rdot9dGYhzr-e296AP11F9AtwLA61Rej2yxGrAbTjeuJN8Ip79XVmzOKkup7GeVlHZVcu3rOblWTb5PqgTdtTCfBGgWM3T7rKr_pJiGBW0Aj_v1U4zo11q5k_xrwxfxZ6GSqs9zve_4LChkbx7EUGj17addXjRyA5rl7QkjB4UPXwiPX1A6-ex7LWpjjQuticWgaZlJQtvVddlkcx-4_c99gIBtPNDh8_xOK4eLQ2zkwUprqhLFEclejPU7KX-S0fxV8MRIjwWe2MdJBO_oLNwHRGLsFM6RWDTYXZTwoV9Lf4KwZpsVu2tfTPrYxVumkwqg9zeq9pHrf8KcLWyyS_VQQSM8Q5cR79PVB_rMdVnL8rFSghWwvNtsG2dQ67yUAEE_xCI2Dc37uj3ETUH7gapAGIsJiRBe_lwF1N5LiSLAD3_TP9w3wX-z0cfIpgeJ5zPzG518IHP-rmX_EexKx5kizSNSBLYW=s1756-no?authuser=0" alt="Kitty4 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #4</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219828560885186561</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/NJF7k40y0JWjywrbM3grVBsggX77I5gsAUE_V24jCWxY8x-fTLPNbNEkWV8_vydlVmqHbAbz54ELiI7OOFZ0EWoq7z5pUYRUUda6LagFXFXwErxZbX_Nm2RkYnEAuHyovIWdDU7WkNSceBfuCTOjAnUjs0IPPC26G8mgBSGOA93EF81DPlgWjqFC8zcaTBsyRY8Eq6NBfKojXhbA4vNN9Z8yJ97LNGGPOtIcE9N9hJksFcllImmBB1d80rdot9dGYhzr-e296AP11F9AtwLA61Rej2yxGrAbTjeuJN8Ip79XVmzOKkup7GeVlHZVcu3rOblWTb5PqgTdtTCfBGgWM3T7rKr_pJiGBW0Aj_v1U4zo11q5k_xrwxfxZ6GSqs9zve_4LChkbx7EUGj17addXjRyA5rl7QkjB4UPXwiPX1A6-ex7LWpjjQuticWgaZlJQtvVddlkcx-4_c99gIBtPNDh8_xOK4eLQ2zkwUprqhLFEclejPU7KX-S0fxV8MRIjwWe2MdJBO_oLNwHRGLsFM6RWDTYXZTwoV9Lf4KwZpsVu2tfTPrYxVumkwqg9zeq9pHrf8KcLWyyS_VQQSM8Q5cR79PVB_rMdVnL8rFSghWwvNtsG2dQ67yUAEE_xCI2Dc37uj3ETUH7gapAGIsJiRBe_lwF1N5LiSLAD3_TP9w3wX-z0cfIpgeJ5zPzG518IHP-rmX_EexKx5kizSNSBLYW=s1756-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219828560885186561" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>