.nftImage {
  border: 5px solid black;
  padding: 10px;
  background: rgba($color: #c9c9c9, $alpha: 0.5);
}
.left {
  text-align: center;
}
.right p {
  word-wrap: break-word;
}

@media screen and (max-width: 560px) {
  .nftImage {
    width: 70%;
  }
  .left,
  .right {
    height: 100%;
    max-width: 90%;
    display: block;
  }
}
@media screen and (min-width: 561px) {
  .nftImage {
    width: 80%;
  }
  .left,
  .right {
    height: 100%;
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}
