
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/tZygqqii44noUx8G6TZT1GDXjvZNodnFG0ypuaZoyL7Js7bFR5sAhdwOv5Jyn0w8JIRsWZkgxaSPx9ClnI9Q6_wqn0SvAw0N8xRE2V7PeIYkUfd7grvjCGSJ_Wlkt0wBJ2KdPC2EedY13PBxBDVeTa5VCl7081QROfpHd_ptnK_UoLs1lfjKlYr4aa6Z4TJMz7KVv7Jw7KmgZoDc1CwU-z0xxdf37ctC7WuZXNzXjhX2RsbslJOrlASmCEfgQDNR7kYN16E_UnAqWTmGXCCejJr6x7SMWw_8CO9EHyZCpTgbuIqooiNRTk-4TqZZgsPNUzhylL97I-RKybiZr4PNcLRvICkzMxdfBDE_mjSbLtwSaR--u4ywEh9RlRAJnjbaMmOUYqVZZ2nAxxeGrtErOvgFCRKmSMWBNs-6vr16vihza_ACf325ufkrU9yF4Ms2cKvZaFEdfANlvWHdU5OfzPdgOa1bG6XdoyVCJRGQZwnq3cLVE7gIq3qgAikJfTD220I64hcsEA5lkL-jao26kPBG5fCwkAvzzuydu-Guv95SE_aS08DshiO8sWQqL2_dYVHRyrwyNWbhsSJ-cWkx71OVd7nz1aGxX17XwSfQYskh2d27AFkE8noPTbvyIZrv93nsw7nCcNkySYZU-YDUPgve7SsxleQ2Kqm6gJrNz6qI4fSnkcmWWC6PSZPLhy8yM91OBJM4ADF2JMaRZDGOg5mO=w1754-h1756-no?authuser=0" alt="Kitty9 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #9</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219834058443325441</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/tZygqqii44noUx8G6TZT1GDXjvZNodnFG0ypuaZoyL7Js7bFR5sAhdwOv5Jyn0w8JIRsWZkgxaSPx9ClnI9Q6_wqn0SvAw0N8xRE2V7PeIYkUfd7grvjCGSJ_Wlkt0wBJ2KdPC2EedY13PBxBDVeTa5VCl7081QROfpHd_ptnK_UoLs1lfjKlYr4aa6Z4TJMz7KVv7Jw7KmgZoDc1CwU-z0xxdf37ctC7WuZXNzXjhX2RsbslJOrlASmCEfgQDNR7kYN16E_UnAqWTmGXCCejJr6x7SMWw_8CO9EHyZCpTgbuIqooiNRTk-4TqZZgsPNUzhylL97I-RKybiZr4PNcLRvICkzMxdfBDE_mjSbLtwSaR--u4ywEh9RlRAJnjbaMmOUYqVZZ2nAxxeGrtErOvgFCRKmSMWBNs-6vr16vihza_ACf325ufkrU9yF4Ms2cKvZaFEdfANlvWHdU5OfzPdgOa1bG6XdoyVCJRGQZwnq3cLVE7gIq3qgAikJfTD220I64hcsEA5lkL-jao26kPBG5fCwkAvzzuydu-Guv95SE_aS08DshiO8sWQqL2_dYVHRyrwyNWbhsSJ-cWkx71OVd7nz1aGxX17XwSfQYskh2d27AFkE8noPTbvyIZrv93nsw7nCcNkySYZU-YDUPgve7SsxleQ2Kqm6gJrNz6qI4fSnkcmWWC6PSZPLhy8yM91OBJM4ADF2JMaRZDGOg5mO=w1754-h1756-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219834058443325441" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
