<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/J3XAHK-SfZ-vfLHEb3jhY4tjBEaPttbT39mixSIt2OWKXo09c8o5zn3GGXbYOJx0F8ojMp_wVwav4DvGAOI5UNLqhqVsXFx6u2d_2LQaP5G8lAX5SZBUKYgwXSS7jMvFJR_OjDO6iA=w2400" alt="Kitty24 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #24</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219850551117742081</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/J3XAHK-SfZ-vfLHEb3jhY4tjBEaPttbT39mixSIt2OWKXo09c8o5zn3GGXbYOJx0F8ojMp_wVwav4DvGAOI5UNLqhqVsXFx6u2d_2LQaP5G8lAX5SZBUKYgwXSS7jMvFJR_OjDO6iA=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219850551117742081" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
