<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/2pVz6xkRODdOx08Tc0vyw3OQE14Td5GRjzzpTuB81XudUIWG1UXwtvHhDfWVMQX3pUm6A_4JgFOumM5uHGf7hbxYo9tfigArpuZXroYSwavB4XYKJv5S_yx2EQb0Q0sTZ19BTDGvvg=w2400" alt="Kitty15 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #15</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219840655513092097</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/2pVz6xkRODdOx08Tc0vyw3OQE14Td5GRjzzpTuB81XudUIWG1UXwtvHhDfWVMQX3pUm6A_4JgFOumM5uHGf7hbxYo9tfigArpuZXroYSwavB4XYKJv5S_yx2EQb0Q0sTZ19BTDGvvg=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219840655513092097" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
