
<a [routerLink]="['/']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/BKKonPpX1q0FxvaYOOBS1-e8SLmdJOMv7KnGqWvbwqNAbmRO7O8vmlZ5OiA7kfwuVAbAMDw_Z_a2EFcfdblwxDJzAZx5AeJg13ND3_BVoEOEplPyHwZJfCp20vM1tCjtLNb2-eOmSw=w2400" alt="Kitty1 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #1</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219825262350303233</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/BKKonPpX1q0FxvaYOOBS1-e8SLmdJOMv7KnGqWvbwqNAbmRO7O8vmlZ5OiA7kfwuVAbAMDw_Z_a2EFcfdblwxDJzAZx5AeJg13ND3_BVoEOEplPyHwZJfCp20vM1tCjtLNb2-eOmSw=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219825262350303233" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>