<a [routerLink]="['/']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/WGT8e7MdChlTmute99dLfhhtfSc5almDce0CM8KaeSde07qD8W-h5wJOtl3nnI2O8J7uKOUZXjSnO9reLgND5zFzhNRMpTcQbMrPCFwxr937-1vxx7Aqyrr2y2A_j_sdp9BMkI5MeQ=w2400" alt="Kitty18 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #18</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219842854536347649</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/WGT8e7MdChlTmute99dLfhhtfSc5almDce0CM8KaeSde07qD8W-h5wJOtl3nnI2O8J7uKOUZXjSnO9reLgND5zFzhNRMpTcQbMrPCFwxr937-1vxx7Aqyrr2y2A_j_sdp9BMkI5MeQ=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219843954047975425" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
