
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/TsT7IWS255CeXV0-JLVpyRN4f6O1GtuBxxgZ_rArkdZ6tIMJMK4lX0JwCZZrfJ16IgvBQlixE_DFtlNQeA9RDMjqma5qCzyF8ezuo7utk96amqdm0X9S7j7YcbjXpgAAtkaQdJ7LcA=w2400" alt="Kitty10 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #10</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219835157954953217</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/TsT7IWS255CeXV0-JLVpyRN4f6O1GtuBxxgZ_rArkdZ6tIMJMK4lX0JwCZZrfJ16IgvBQlixE_DFtlNQeA9RDMjqma5qCzyF8ezuo7utk96amqdm0X9S7j7YcbjXpgAAtkaQdJ7LcA=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219835157954953217" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
