.container-fluid {
  min-height: 90vh;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background: rgba($color: #d3d3d3, $alpha: 0.6);
  overflow: auto;
  word-wrap: break-word;
  color: black;
}

@media screen and (max-width: 560px) {
  .container-fluid {
    max-width: 100%;
  }
}
