.container-fluid {
  min-height: 90vh;
  border-radius: 25px;
  border: 5px solid white;
  background: rgba($color: #969696, $alpha: 0.5);
  overflow: auto;
  word-wrap: break-word;
}

@media screen and (max-width: 560px) {
  .container-fluid {
    max-width: 90%;
  }
}
