
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/57f7eU4HGLme11MxQUh_3ScpRmqtkwlAxJIyk04RVY_QfewXxQymeFRu_DzJ2jucyBpnRqVGEcUr5ZQIaP3QDkrcLiAmTuZk00IYSmh0k_btFZawkMrfO-PuKQ7xehsc5Ee7h-PI30jTpAsJj8Z1fFCxlbPCZiVyl_HMwEofkX8SCKsiC3rXDXlrx909xX48fn8lKiPFklZRynYyFgt5hnkfcHba8laautwG0B8HeqDiSsjnKCReOtUeMVCpfji2RtbR0f0krLlY0KFKxriyDvxC2sPh8QMfB7Jg_D71ooYwxfjCI2ejcAeQu5shYO-72s3YYj6K2wqfNRMyCUoeasanSjxWZBu-IxZBBi3smuf-TdMrTWDZKQ6GBlxf8TiRfmo0MqmzEbb3CEtvRfzecY_wOqAvHjOk8EWE7jdZKOXqUKm8Nd8olQ60gZ0ikrZePUK4s4ArR_T369ebRRwUroIcLl8OI14_zJ9Fjcax9xc1uzYeAX0ZNkRmhRskvK1n-XEmf1dwqMynDTwCf6xsvKTEWLc4ZPF51ocePHHm4eJq9wO702xTf-syosaioWr_M149y1GEj2KEJkLZviyGi2if8QpBo2UbzR40D38DFH_TE3824eUOXHk2d3J9p2bA3o7m5K5TjtIeovEksDf7mGcc69SytwBfAsStgJsEU4dfvp9ukTfx4m_Yj1wef4RaDFo2HnuwXQvyjtlRuGwxwu-L=w1740-h1742-no?authuser=0" alt="Kitty10 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #11</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219836257466580993</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/57f7eU4HGLme11MxQUh_3ScpRmqtkwlAxJIyk04RVY_QfewXxQymeFRu_DzJ2jucyBpnRqVGEcUr5ZQIaP3QDkrcLiAmTuZk00IYSmh0k_btFZawkMrfO-PuKQ7xehsc5Ee7h-PI30jTpAsJj8Z1fFCxlbPCZiVyl_HMwEofkX8SCKsiC3rXDXlrx909xX48fn8lKiPFklZRynYyFgt5hnkfcHba8laautwG0B8HeqDiSsjnKCReOtUeMVCpfji2RtbR0f0krLlY0KFKxriyDvxC2sPh8QMfB7Jg_D71ooYwxfjCI2ejcAeQu5shYO-72s3YYj6K2wqfNRMyCUoeasanSjxWZBu-IxZBBi3smuf-TdMrTWDZKQ6GBlxf8TiRfmo0MqmzEbb3CEtvRfzecY_wOqAvHjOk8EWE7jdZKOXqUKm8Nd8olQ60gZ0ikrZePUK4s4ArR_T369ebRRwUroIcLl8OI14_zJ9Fjcax9xc1uzYeAX0ZNkRmhRskvK1n-XEmf1dwqMynDTwCf6xsvKTEWLc4ZPF51ocePHHm4eJq9wO702xTf-syosaioWr_M149y1GEj2KEJkLZviyGi2if8QpBo2UbzR40D38DFH_TE3824eUOXHk2d3J9p2bA3o7m5K5TjtIeovEksDf7mGcc69SytwBfAsStgJsEU4dfvp9ukTfx4m_Yj1wef4RaDFo2HnuwXQvyjtlRuGwxwu-L=w1740-h1742-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219836257466580993" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
