
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/BoqY6jHlMdEG0RnWzMWKHIwe0hXJdJhDBj2gNYK5NPUSrZHjuvbVgoEahYEIo8w3Z63K0Gn5plGJpNYfYMNf7wKrc4lWxUvfDcEaqvPPQ8IPvhjEUpqMiAkf8EHgv7jdejmp--tuQOPo-8aDiyOJDQMQ8x6hg7V2kt-dJvy0eHgpt1yIq6RdyMp5pkCayJaF-UTpFu6IwkEoIj_CB3GH_gPDIW0L_tM3bQOAceH7wfeCOXFn6OsjhwbBYgXsTBMmeQRKzez-XRbrNMT0YwR0pjDiR9fmKvNhb_4iAPeBCUp17cP64NmWNScdTJwJ1lhzzf5jpFmH97n-Wn5xXUFGb3XydYwYlPL-NqGrO1jbFo3cFGzcDl5wo1wWk6SNBXooTmOZiMz3jCZM3bltfMathzYM6tHENXIGCDChW3oeZpvATymbnCzgGrpB5DrJ4ag-bW6-DQE3168MFZMj-9J0E_0qMxOVNMH-LmpRTWD688TAP3Lq6k3k_AOzZPHb8ZuOgXcZI1Ipk9mdKs-7bobPxiFfzPQhMaIY8foXr0o5uiPqKfGr1v9qLgQ6-Z2keBGZKplCHSvW-VpfzbafufWrFWrm4VTuweFfdG64aWfyjXHfmPgxF0BovHBNBLT2rDAdlGTIKWEBIuumNXoiEtdBbHT-BP4RNWSjnRYPlJkbCfgrgXmSHCbEjqIxTCypY16tmVyeyMysGlCFyUFPu-r4s0eC=w1744-h1748-no?authuser=0" alt="Kitty2 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #2</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219826361861931009</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/BoqY6jHlMdEG0RnWzMWKHIwe0hXJdJhDBj2gNYK5NPUSrZHjuvbVgoEahYEIo8w3Z63K0Gn5plGJpNYfYMNf7wKrc4lWxUvfDcEaqvPPQ8IPvhjEUpqMiAkf8EHgv7jdejmp--tuQOPo-8aDiyOJDQMQ8x6hg7V2kt-dJvy0eHgpt1yIq6RdyMp5pkCayJaF-UTpFu6IwkEoIj_CB3GH_gPDIW0L_tM3bQOAceH7wfeCOXFn6OsjhwbBYgXsTBMmeQRKzez-XRbrNMT0YwR0pjDiR9fmKvNhb_4iAPeBCUp17cP64NmWNScdTJwJ1lhzzf5jpFmH97n-Wn5xXUFGb3XydYwYlPL-NqGrO1jbFo3cFGzcDl5wo1wWk6SNBXooTmOZiMz3jCZM3bltfMathzYM6tHENXIGCDChW3oeZpvATymbnCzgGrpB5DrJ4ag-bW6-DQE3168MFZMj-9J0E_0qMxOVNMH-LmpRTWD688TAP3Lq6k3k_AOzZPHb8ZuOgXcZI1Ipk9mdKs-7bobPxiFfzPQhMaIY8foXr0o5uiPqKfGr1v9qLgQ6-Z2keBGZKplCHSvW-VpfzbafufWrFWrm4VTuweFfdG64aWfyjXHfmPgxF0BovHBNBLT2rDAdlGTIKWEBIuumNXoiEtdBbHT-BP4RNWSjnRYPlJkbCfgrgXmSHCbEjqIxTCypY16tmVyeyMysGlCFyUFPu-r4s0eC=w1744-h1748-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219826361861931009" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>