
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/xKaUl2eXG8PYzAYNkY9jt8vOYDb1sOxi_0nD05IHmCpsl_BqPQBB_etNMRt4Uyk7W2f2s_3qBOF0_5TNRdL1CKh0RRcJKnvb7aR7GyB82oVDB_y1aHZRFgoJ6nRr2LLzpIUYrlvvAWyYOZWboWQF0hth8LA89eCcVkA7VRiH2NuVQfL87A_3GTcWYCyL5OnrquXIdvCu_aN2iYgROnNwNFzvm5gPvOTHOX-fFU3b9vtONbqaWVvQ_XfHVokYLEEbtHOjdlwJ3TmdT2uG0ToYN2FNksgPitFdKNq-IqG64tIrz7_JDh94GMm1WeeAb80AajGJwIuWZ_Gz-JVnNmdsi3DM89Z587ERQBALXXLW524RnXAa1v0K9tcz6AChdxgCS8yNcyChvnjB2qKq96e01xDY1i3Y3vRLSmr9TpnsGvMXlq7nsjIdeC7i0BPPsdH3p15XH5AB3S6VYmgns3T4Par45hefodeNkGX1WGeOtV5Il0QNNoDt-8WfOWJ2vobafXOFD7TMwSt6PugAAVnKxs7RTNaZLODl6PhGMXfSj1XNVAc2YdWlwft9ziKzvLnxMT0cpFvBhtNKqxKeS1eD93R7bTB-97r50eBx3WoKwTsUFY-hC4pnejIIDgcV66h0HZtYaofPZB8ZJ6bw8-ao2X4My7kQQpD3lcXRXcf-6sWPKZaflEyctClGfGq6VooeIp-d3ygaBxXPl2P0SQsh8YoZ=w1764-h1766-no?authuser=0" alt="Kitty8 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #8</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219832958931697665</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/xKaUl2eXG8PYzAYNkY9jt8vOYDb1sOxi_0nD05IHmCpsl_BqPQBB_etNMRt4Uyk7W2f2s_3qBOF0_5TNRdL1CKh0RRcJKnvb7aR7GyB82oVDB_y1aHZRFgoJ6nRr2LLzpIUYrlvvAWyYOZWboWQF0hth8LA89eCcVkA7VRiH2NuVQfL87A_3GTcWYCyL5OnrquXIdvCu_aN2iYgROnNwNFzvm5gPvOTHOX-fFU3b9vtONbqaWVvQ_XfHVokYLEEbtHOjdlwJ3TmdT2uG0ToYN2FNksgPitFdKNq-IqG64tIrz7_JDh94GMm1WeeAb80AajGJwIuWZ_Gz-JVnNmdsi3DM89Z587ERQBALXXLW524RnXAa1v0K9tcz6AChdxgCS8yNcyChvnjB2qKq96e01xDY1i3Y3vRLSmr9TpnsGvMXlq7nsjIdeC7i0BPPsdH3p15XH5AB3S6VYmgns3T4Par45hefodeNkGX1WGeOtV5Il0QNNoDt-8WfOWJ2vobafXOFD7TMwSt6PugAAVnKxs7RTNaZLODl6PhGMXfSj1XNVAc2YdWlwft9ziKzvLnxMT0cpFvBhtNKqxKeS1eD93R7bTB-97r50eBx3WoKwTsUFY-hC4pnejIIDgcV66h0HZtYaofPZB8ZJ6bw8-ao2X4My7kQQpD3lcXRXcf-6sWPKZaflEyctClGfGq6VooeIp-d3ygaBxXPl2P0SQsh8YoZ=w1764-h1766-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219832958931697665" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
