
<a [routerLink]="['/']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/Y2iNs7Z2z7HRSBzqW_aC14jM6usK5pr-ku95FtsRkO9CVtz23lpvL0U_kgWdiz6kxpcSH6DgAFVpfOXVLmKhy4PqLgVTRDAIzP3sA5sDrc-0uGn2H6Z5rfMq0khsc-Rl7gLlxun5iQ=w2400" alt="Kitty7 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #7</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219831859420069889</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/Y2iNs7Z2z7HRSBzqW_aC14jM6usK5pr-ku95FtsRkO9CVtz23lpvL0U_kgWdiz6kxpcSH6DgAFVpfOXVLmKhy4PqLgVTRDAIzP3sA5sDrc-0uGn2H6Z5rfMq0khsc-Rl7gLlxun5iQ=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219831859420069889" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
