
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/T0n3qh7uPB-2P3D39hs3euD7OnoJIsklp8LYAb3FdrZQ7GDbmrP3yyr_Jk35VXLhYZn5ZK4Q2hyGz1B9sAdWRyfbEOKoRdF3vvIPM1EiltJQq7Ntp9IOYeJalxsJ3bitrzplJ-yZTu-RCMDAfTQRMU5pjoh0msquOxv6lPnWboX39evWZ-_An1uYYvuz-O6Cwp3-H2toFkAl41OCUk3CBvrTmVjXG2Uk1Q97s7DSVI1428RJ9leVYXP7Ux4jFE2IeXteP1QOkuJcZfv1SHRsNuP0DseHvvJIanK11CFHLSrNyz_s6u5UQwNUMVFeRyqLn1sCEpdCVMgOvH-36wFUsUgIdRGa5NLY3EaoLpqfarIW3jn-aIF1CWVoSZj5FtLC99YUlTqQifLcPaFSYsDcbhLHJYLbNnVGQ4kL7-V1UGiY5IWVogFzvzAhHkOKNtfn7GGOrlLJDMpLwyIjY5TShOKsnDfTjQZ7MwoJXGdqzxdlemI0nx_LM4By_-Wb7si_zLJnKIsCBEDwo9GoOptHWnU8ZXH6Qu-523P84ycfCH-6UgAguiu-4Q0xfmiPX-Fxzt4oijW1_DdWMzwFOgjSR0gUfV0RfqgXFYXBvokdGPT0BQh5kb1UMJ-rSC4juay9bRvJeLZ512ZIIanrs5LFHdkpCEmY1z2O2KijXuzzD-dycTQTtC7vXf9kUteZn1RJ7G3SjU-g_YBY17zQSmuZRXIY=s1742-no?authuser=0" alt="Kitty7 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #7</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219831859420069889</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/T0n3qh7uPB-2P3D39hs3euD7OnoJIsklp8LYAb3FdrZQ7GDbmrP3yyr_Jk35VXLhYZn5ZK4Q2hyGz1B9sAdWRyfbEOKoRdF3vvIPM1EiltJQq7Ntp9IOYeJalxsJ3bitrzplJ-yZTu-RCMDAfTQRMU5pjoh0msquOxv6lPnWboX39evWZ-_An1uYYvuz-O6Cwp3-H2toFkAl41OCUk3CBvrTmVjXG2Uk1Q97s7DSVI1428RJ9leVYXP7Ux4jFE2IeXteP1QOkuJcZfv1SHRsNuP0DseHvvJIanK11CFHLSrNyz_s6u5UQwNUMVFeRyqLn1sCEpdCVMgOvH-36wFUsUgIdRGa5NLY3EaoLpqfarIW3jn-aIF1CWVoSZj5FtLC99YUlTqQifLcPaFSYsDcbhLHJYLbNnVGQ4kL7-V1UGiY5IWVogFzvzAhHkOKNtfn7GGOrlLJDMpLwyIjY5TShOKsnDfTjQZ7MwoJXGdqzxdlemI0nx_LM4By_-Wb7si_zLJnKIsCBEDwo9GoOptHWnU8ZXH6Qu-523P84ycfCH-6UgAguiu-4Q0xfmiPX-Fxzt4oijW1_DdWMzwFOgjSR0gUfV0RfqgXFYXBvokdGPT0BQh5kb1UMJ-rSC4juay9bRvJeLZ512ZIIanrs5LFHdkpCEmY1z2O2KijXuzzD-dycTQTtC7vXf9kUteZn1RJ7G3SjU-g_YBY17zQSmuZRXIY=s1742-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219831859420069889" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
