<a [routerLink]="['/']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/gRWasApciLN_b5rzGuoG4cEGBRCWTPM0zlJ3PjA-c9fdGNTmV2hPzYiQEv1QTJxx5ZjmOhJPXczLxyklu2LOJTOAsn7rEnW_M0pTOpC7sMI8jCtEE7xX1tqVbYL1oBU2dTyAMimqeA=w2400" alt="Kitty25 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #25</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219851650629369857</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/gRWasApciLN_b5rzGuoG4cEGBRCWTPM0zlJ3PjA-c9fdGNTmV2hPzYiQEv1QTJxx5ZjmOhJPXczLxyklu2LOJTOAsn7rEnW_M0pTOpC7sMI8jCtEE7xX1tqVbYL1oBU2dTyAMimqeA=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219851650629369857" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
