
<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/WoHUmXoz6NlJAT7sCUGuC0Q7TXqZmX6-iXtVXkoR3Sf0rioYKUS33F0TPOr2My5n3qt-3RCHnVWex-DsmYGqB3bDFa8HyV9JJfgokEzvo1pKrmrdoylZASebsZeelf5FOTigTJcRF_ZDWE_pPVjSE-GsoQx66ujSdnAVTtIt0PBMksxmjKZjif0q0cMvelirUTTL8L-hLJ3RQCupLGwbIHxrvnVOVotNKOybtsAao7KDkDVc_S56i107j1Atnse4QmHCF6z5BesSWYXwoIZfE2xPv4rZpVxMPNxiGPGJUb14vb9VuOrKZwzcEgPXLgyDWjnwUipJ4L36tpTHdnu3j0g3u8Ke4fDXLyJMrrL0MgcN2s350ND92sfmlcYYInEBb-GlwV2G0u40DI7YGl9-I4s1nYCxGaHPSk0KRnpUD_M0E6mm9a0D0t2DydDIJvpTua4enxS_x0woHwYQVWmDT4Wlo9x8OLifr1L60YuA40ONYSHXaNx3iZCuYAFX2YjZVY4cNGVbCPX-fy92FUrlUN4h89OD57_0GxycLv6B-47IBSrnnEeKj-snJ1MgqJcvVySXhiEj1CiA3G6gyTyGfdEK000ma7rTBf1tRu2MWcXF3o3AcscxF_NDNskRm80GBfF9_ZTz_A7BzUaADs4MPBFep18o7Vg2xa3r6DbcAhhayiWaOTrgMfukjUfT7gXmd6YJsAkVGIYBy8Igrt50vVmr=w1742-h1744-no?authuser=0" alt="Kitty5 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #5</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219829660396814337</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/WoHUmXoz6NlJAT7sCUGuC0Q7TXqZmX6-iXtVXkoR3Sf0rioYKUS33F0TPOr2My5n3qt-3RCHnVWex-DsmYGqB3bDFa8HyV9JJfgokEzvo1pKrmrdoylZASebsZeelf5FOTigTJcRF_ZDWE_pPVjSE-GsoQx66ujSdnAVTtIt0PBMksxmjKZjif0q0cMvelirUTTL8L-hLJ3RQCupLGwbIHxrvnVOVotNKOybtsAao7KDkDVc_S56i107j1Atnse4QmHCF6z5BesSWYXwoIZfE2xPv4rZpVxMPNxiGPGJUb14vb9VuOrKZwzcEgPXLgyDWjnwUipJ4L36tpTHdnu3j0g3u8Ke4fDXLyJMrrL0MgcN2s350ND92sfmlcYYInEBb-GlwV2G0u40DI7YGl9-I4s1nYCxGaHPSk0KRnpUD_M0E6mm9a0D0t2DydDIJvpTua4enxS_x0woHwYQVWmDT4Wlo9x8OLifr1L60YuA40ONYSHXaNx3iZCuYAFX2YjZVY4cNGVbCPX-fy92FUrlUN4h89OD57_0GxycLv6B-47IBSrnnEeKj-snJ1MgqJcvVySXhiEj1CiA3G6gyTyGfdEK000ma7rTBf1tRu2MWcXF3o3AcscxF_NDNskRm80GBfF9_ZTz_A7BzUaADs4MPBFep18o7Vg2xa3r6DbcAhhayiWaOTrgMfukjUfT7gXmd6YJsAkVGIYBy8Igrt50vVmr=w1742-h1744-no?authuser=0">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219829660396814337" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
