* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100%;
  color: white;
  padding: 10px;
  padding-top: 50px;

  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, #c2c2c2, #e73c7e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  backdrop-filter: blur(10px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
