<a [routerLink]="['/home']" class="btn btn-success">Back</a>

<div class="container">
    <div class="left">
        <img class="nftImage" src="https://lh3.googleusercontent.com/t_a1uV-FcwIyqYVJka7RdCENkpHXvV0N888hON8TzE7HHIuqbpU2kiJEadEtGsj3p3wkc6oYvW3rZnzcxblChrNXO8Mc_hO9Uc5jlLtfj6h14mAGVvuW5UkeBNOPGRvvFZkJMI5YAw=w2400" alt="Kitty21 NFT">
    </div>
    <div class="right">
        <h1>NFT Details</h1>
        <hr>
        <p><strong>Name:</strong> Kitty #21</p>
        <p><strong>Contract Address: </strong> <a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963">0x2953399124f0cbb46d2cbacd8a89cf0599974963</a></p>
        <p><strong>Token ID:</strong> 80366395629522486436785199915095687810879187654138836265477219847252582858753</p>
        <p><strong>Blockchain:</strong> Polygon</p>
        <p><a target="_blank" href="https://lh3.googleusercontent.com/t_a1uV-FcwIyqYVJka7RdCENkpHXvV0N888hON8TzE7HHIuqbpU2kiJEadEtGsj3p3wkc6oYvW3rZnzcxblChrNXO8Mc_hO9Uc5jlLtfj6h14mAGVvuW5UkeBNOPGRvvFZkJMI5YAw=w2400">Direct NFT Image Link</a></p>
        <a target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/80366395629522486436785199915095687810879187654138836265477219847252582858753" class="btn btn-primary">View in OpenSea</a>
    </div>
</div>
